* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 3rem;
  padding: 20px 0 0 15px;
}

.leaderboard-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}

.recent-scores,
.add-score {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.refresh-container {
  display: flex;
  justify-content: space-between;
}

#score-info {
  border: 1px solid black;
  width: 100%;
  list-style-type: none;
}

ul :nth-child(odd){
  background-color: #f2f2f2;
}

#score-info li {
  padding: 8px;
}

#score-info li:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.form-container {
  width: 60%;
  padding-top: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form input {
  border: 1px solid black;
  padding: 5px;
}

#submit-btn,
#refresh-btn {
  width: 70px;
  align-self: end;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  background-color: transparent;
}
 #refresh-btn:hover,
 #submit-btn:hover {
  background-color: rgb(92, 148, 212);
  color: #fff;
 }

/* Media Queries */
@media (max-width: 500px) {
  .leaderboard-container {
    flex-direction: column;
  }
}
